body {
  margin-top: 0px;
  margin-left: 0;
  margin-right: -5px;
  margin-bottom: -5px;
  background-color: black;
}

.schedule {
  display: flex;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: solid;
  border-color: white;
  height: 100px;
  font-family: Roboto;
}

.js-exercise {
  font-weight: 900;
  color:rgb(223, 41, 41) !important;
}

.js-row {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.inputText {
  font-family: Roboto;
  font-weight: 700;
  border: none;
  width: 95%;
  background-color: black;
  color: rgb(198, 198, 198);
  flex: 1;
}

.js-schedule-week 
.row {
  border: none;
  background-color: white;
  color: black;
  font-weight: 500;
}

.js-save {
  display:inline-block;
  margin-left: 90%;  
}

.save {
  border: 2px solid white;
  width: 60px;
  height: 30px;
  background: none;
  color: white;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: large;
}

.add-delete-container {
  white-space: nowrap;
}

.js-add-row {
  display: inline-block;
}

.add-row {
  width: 80px;
  padding: 5px;

  transition: all 1s ease; 
  border: 2px solid white;
  background: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.add-row:hover {
  border-color: rgb(0, 183, 0);
  color: rgb(0, 183, 0);
}

.js-delete-row {
  display: inline-block;
  margin-top: 15px;
  margin-left: 83%;
}

.delete-row {
  padding: 5px;
  
  transition: all 1s ease; 
  border: 2px solid white;
  background: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.delete-row:hover {
  border-color: red;
  color: red;
}

.js-input-row {
  margin-top: 50px;
}

.js-form-popup {
  position: fixed;
  height: 100px;
  width: 200px; 
  background-color: white;
  margin-left: 41%;
  margin-top: 20%;
  border-radius: 15px;

  background-color: rgb(247, 66, 66);
}

.js-input-plan-name {
  position: absolute;
  top: 20px;
  left: 10%;

  padding: 5px;
  border-radius: 3px;
  border: none;
}

.js-confirm {
  position: absolute;
  bottom: 10px;
  right: 5px;
  flex-shrink: 0;

  border: none;
  background: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.js-go-back {
  position: absolute;
  bottom: 10px;
  left: 5px;
  flex-shrink: 0;

  border: none;
  background: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.page-end {
  margin-right: -10px;
  margin-left: -10px;
  font-family: Roboto;
  font-weight: 700;
  display: flex;
  margin-top: 40px;
  background-color: white;
  color: black;
}

.socials {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 33%;
  margin-right: 30%;
}

.socials-header {
  white-space: nowrap;
}

.icon {
  width: 24px;
  flex-wrap: nowrap;
}

.author-links-container {
  display: flex;
}

.info-header {
  white-space: nowrap;
}

.info-author {
  font-size: 12px;
  font-weight: 400;
}

.linkedin-link {
  display: flex;
}

.author-icon-linkedIn {
  width: 24px;
}

.github-link {
  display: flex;
}

.author-icon-github {
  width: 24px;
}

.contact {
  font-size: 12px;
  font-weight: 500;
  color: rgb(110, 110, 110);
  white-space: nowrap;
}