@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

body {
  font-family: Roboto;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  height: 2000px;
}

.introduction{
  display: flex;
  justify-content:space-between;
  background-color: black;
}

.header-introduction-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-introduction {
  position: relative;
  padding: 90px 10px;
}

.header-introduction {
  font-size: 36px;
  margin-top: 0px;
  margin-left: 5px;
  color: white;
  white-space: nowrap;
}

.caption {
  width: 360px;
  margin-left: 5px;
  font-size: 12px;
  color: rgb(181, 181, 181);
}

.background-picture-container {
  margin-right: 5px;
  width: 56%;
}

.background-picture {
  display: flex;
  width: 100%;
  min-width: 450px;
}

.forward-button {
  position: absolute;
  right: 0px;
  bottom: 0px;

  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(255, 19, 19), rgb(255, 119, 119));
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.header-benefits {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 150px;
  margin-left: 10px;
  font-size: 64px;
  font-family: IBMPlexSerif;

  animation: 
  typing 3.5s steps(40, end) 4,
  blink-caret .75s step-end infinite;
}

.row-1-container {
  position: relative;
  height: 460px;
}

.barbell-caption {
  transition: white 1s ease;
  position: absolute;
  right:2%;
  top: 20%;
  font-size: 80px;
  font-family: IBMPlexSerif;
  font-weight: 600;
  width: 300px;
  z-index: 3;
}

.barbell-caption.color-change {
  color: white;
}

.barbell-image {
  position: absolute;
  width: 80%;
}

.box {
  position: absolute;
  opacity: 0;
  transform: translateX(400px);
  transition: all 1s ease; 
  transition-delay: 1.5s;

  height: 100%;
  background-image: linear-gradient(to right, rgb(255, 100, 100), rgb(255, 19, 19));
  right: 5px;
  width: 400px;
  z-index: 2;
}

.box.show {
  opacity: 1;
  transform: translateX(0px);
}

.make-bold {
  font-weight: 900;
}

.plan-options-container {
  display: flex;
  justify-content: center;
  gap: 25%;

  position:absolute;
  bottom: 40%;

  width: 100%;
  min-width: 600px;
}

.existing-plans {
  background: none;
  border: solid;
  color:  rgb(225, 174, 22);
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 50px;
  margin-left: 50%;
  padding: 20px 20px;
  transition: 1s;
  width: 300px;
}

.existing-plans:hover {
  background-color: rgb(225, 174, 22);
  border: none;
  color: white;
}

.new-plans {
  background: none;
  border: solid;
  color: rgb(225, 174, 22);
  cursor: pointer;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 700;
  padding: 20px 20px;
  transition: 1s;
  width: 500px;
}

.new-plans:hover {
  background-color: rgb(225, 174, 22);
  border: none;
  color: white;
}