@keyframes typing {
  from {width: 0}
  to {width: 100%;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

body {
  font-family: Roboto;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  height: 3120px;
}

.introduction{
  display: flex;
  justify-content:space-between;
  background-color: black;
}

.header-introduction-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.content-introduction {
  position: relative;
  padding: 90px 10px;
}

.header-introduction {
  font-size: 36px;
  margin-top: 0px;
  margin-left: 5px;
  color: white;
  white-space: nowrap;
}

.caption {
  width: 360px;
  margin-left: 5px;
  font-size: 12px;
  color: rgb(181, 181, 181);
}

.background-picture-container {
  margin-right: 5px;
  width: 56%;
}

.background-picture {
  display: flex;
  width: 100%;
  min-width: 450px;
}

.forward-button {
  position: absolute;
  right: 0px;
  bottom: 0px;

  padding: 10px 10px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgb(255, 19, 19), rgb(255, 119, 119));
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.header-benefits {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 150px;
  margin-left: 10px;
  font-size: 64px;
  font-family: IBMPlexSerif;

  animation: 
  typing 3.5s steps(40, end) 4,
  blink-caret .75s step-end infinite;
}

.row {
  position: relative;
  height: 580px;
  margin-bottom: 5px;
}

.row-2-container {
  margin-bottom: 1px;
}

.barbell-caption {
  transition: white 1s ease;
  position: absolute;
  font-size: 80px;
  font-family: IBMPlexSerif;
  font-weight: 600;
  width: 300px;
  z-index: 3;
  color: red;
}

.barbell-1 {
  right:2%;
  top: 20%;
  width: 350px;
}

.barbell-2 {
  left: 4%;
  top: 20%;
}

.barbell-3 {
  right:15%;
  top: 20%;
}

.barbell-caption.color-change {
  color: black;
}

.barbell-image {
  position: absolute;
  width: 80%;
  min-width: 800px;
}

.barbell-img-2 {
  right: 0px;
}

.box {
  position: absolute;
  opacity: 0;
  transform: translateX(400px);
  transition: all 1s ease; 
  transition-delay: 1s;

  height: 101%;
  background-color: white;
  right: 5px;
  width: 450px;
  z-index: 2;
}

.box.box-2 {
  transform: translateX(-400px);
  left: 0;
  height: 100.2%;
}

.box-2 {
  width: 420px;
}

.box-3 {
  width: 500px;  
}

.box.show {
  opacity: 1;
  transform: translateX(0px);
}

.make-bold {
  font-weight: 900;
}

.plan-options-container {
  position: relative;

  height: 600px;
  min-width: 1100px;
  min-height: 600px;
  margin-top: 50px;
  background-color: black;
}

.options-header {
  position: absolute;
  width: 950px;
  margin-top: 20px;
  font-size: 128px;
  color: white;
  font-family: IBMPlexSerif;
  margin-left: 2%;
}

.existing-plans-container {
  position: absolute;
  left: 25%;
  bottom: 15px;

  width: 270px;
  height: 405px;
}

.existing-plans-container:hover .existing-plans {
  color: rgb(255, 58, 58);
  transform: translateY(-3px);
}

.my-plans-img {
  position: absolute;
  width: 100%;
}

.existing-plans {
  position: absolute;
  left: 25%;
  bottom: 5px;

  width: 130px;
  padding: 10px;
  border: none;
  background: none;
  white-space: nowrap;
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  transition: 1s;
  cursor: pointer;
}

.create-plan-container {
  position: absolute;
  right: 25%;
  bottom: 15px;

  width: 270px;
  height: 405px;
}

.create-plan-container:hover .new-plans {
  color: rgb(255, 58, 58);
  transform: translateY(-2px);
}

.create-plan-img {
  position: absolute;
  width: 100%;
}

.new-plans {
  position: absolute;
  bottom: 5px;
  left: 8%;

  width: 220px;
  padding: 10px;
  border: none;
  white-space: nowrap;
  background: none;
  color: white;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}